*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.mainWrapper{
    width: 50%;
    margin: 0% auto;
    background-color: #F7F6F6;
    height: 500px;
    border: 1px solid black;
}

header{
    background-image: url(../Images/nik-lanus-41808-unsplash.jpg);
}

h1{
    display: none;
}